.competences {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
  border: 2px solid $primary-dark;
  margin: 2rem;

  .category {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    h3 {
      margin-bottom: 1rem;
      color: $text-light;
    }

    .comp {
      background-color: $primary-light;
      border-radius: 8px;
      padding: 1rem;
      width: 200px;
      color: $text-light;
    }
  }
}
