.contact {
    margin: 0 auto;
    padding: 2em;
    background-image: url(/sky2.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    h1 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 1.5em;
        font-size: 2.3em;
        font-weight: 700;
        color: white;
    }

    @media (min-width: 850px) {
        h1 {
            margin-top:1em;
            font-size: 3em;
        }
    }

    .form-contact {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border: 2px solid transparent;
        box-shadow: inset 0 0 15px #{$dark};
        border-radius: 8px;
        padding: 1.5em;

        label {
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: 600;
            color: white;
        }

        input,
        textarea {
            padding: 10px;
            border: 1px solid #ffffff;
            border-radius: 5px;
            font-size: 1em;
            font-family: #{$font-primary};
            background-color: #{$primary-light};
            box-shadow: inset 0 0 15px #{$dark};
        }

        textarea {
            resize: vertical;
            min-height: 100px;
        }

        @media (min-width: 720px) {
        & {
           margin: 3em;
        }
    }

    @media (min-width: 850px) {
        & {
           margin: 5em;
           
        }
    }

    @media (min-width: 1000px) {
        & {
           margin: 7em;
        }
    }
    }

    .dark & .form-contact {
        box-shadow: inset 0 0 15px #{$light};

        input,
        textarea {
            background-color: #{$primary-dark};
            box-shadow: inset 0 0 15px #{$light};
        }
    }

}
