.home {
  position: relative;
  width: 100%;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(circle at center, #10183f 0%, #4a5f7a 50%, #9db8d2 100%);
    .dark & {
        background: radial-gradient(circle at center, #9db8d2 0%, #4a5f7a 40%, #10183f 90%);
    }
}
